<div class="nav-position">
    <div class="navbar-cont">
        <div class="nav-words">
           <a href="/"><h1>Yousuf.</h1></a>
        <a href="/">Home</a>
        <a style="margin-left:-80px;" href="/Project">Project</a>
        <a style="margin-left:-80px;" href="/Contact">Contact</a>
        <a style="margin-left:-80px;" href="/About">About Me</a>
        <a href="/hire"><button>Hire Me</button></a>
        </div>
</div>