<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selected projects</title>
</head>
<body>
    <style>
        
.navbar-cont{
    background-color: rgb(68, 68, 97);
    border: 1px solid rgb(68, 68, 97);
    z-index: 1;
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav-words{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.nav-words h1{
    color: white;
    cursor: pointer;
}

.nav-words a{
    text-decoration: none;
    color: gray;
}

.nav-words a:hover,:active{
    color: white;
}
.nav-words button{
    margin-left:-40px ;
    border-radius: 10px;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    box-shadow: -3px -3px 4px gray;
}


.helix-box{
    display: flex;
    flex-direction: row;
    border: none;
    align-items: center;
    gap: 80px;
}

.helix-words{
    margin-top: -50px;
    text-align: justify;
}

.helix-words, p{
    word-spacing: 5px;
}

.helix-box2{
    display: flex;
    flex-direction: row;
    border: none;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
    margin-top: 50px;
}

.helix-words2{
    margin-left: 100px;
   
}

.helix-words2, p{
    word-spacing: 5px;
}

.helix-box3{
    display: flex;
    flex-direction: row;
    border: none;
    align-items: center;
    gap: 80px;
    margin-top: 50px;
}
    </style>

<div class="nav-position">
    <div class="navbar-cont">
        <div class="nav-words">
            <a href="/"><h1>Yousuf.</h1></a>
        <a href="/">Home</a>
        <a style="margin-left:-80px;" href="/Project">Project</a>
        <a style="margin-left:-80px;" href="/Contact">Contact</a>
        <a style="margin-left:-80px;" href="/About">About Me</a>
        <button>Hire Me</button>
        </div>
</div>


<!-- SELECTED PROJECT -->

<p style="text-align:center ;">Selected Projects</p>

<!-- Helix Project -->

<div class="helix-box">
    <img src="Helix Picture.png">
    <div class="helix-words">
        <h3>Helix</h3>
            <p>A project management software designed to help<br>
            user track projects, tasks and schedules and manage<br>
            their project efficiently
            </p>
            <a style="text-decoration: none; font-weight: bold" href="#">View On Behance</a>
    </div>
</div>

<!-- AGRO FAM -->

<div class="helix-box2">
    <div class="helix-words2">
        <h3>Agro Fam</h3>
        <p>A website for Agricultural-based brand that help make<br> 
            farming easier for farmers and can also help initiate aspiring <br>
            farmer
        </p>
        <a style="text-decoration: none; font-weight: bold" href="#">View On Behance</a>
    </div>
    <img src="Helix Picture.png" alt="Agrofam">
</div>

<!-- Whatsapp(Re-design) -->

<div class="helix-box3">
    <img src="Helix Picture.png">
    <div class="helix-words">
        <h3>Whatsapp (Re-design)</h3>
            <p>Whatsapp for android re-design(the light theme) for<br>
                easier communicationwith friends,families and other<br>
                users.
            </p>
            <a style="text-decoration: none; font-weight: bold" href="#">View On Behance</a>
    </div>
</div>

    </div>
    
    <!-- Whatsapp (dark Re-design) -->
    
<div class="helix-box2">
    <div class="helix-words2">
        <h3>Whatsapp (Re-design)</h3>
        <p>Whatsapp for android re-design(the dark theme) for<br>
            easier communicationwith friends,families and other<br>
            users.
        </p>
        <a style="text-decoration: none; font-weight: bold" href="#">View On Behance</a>
    </div>
    <img src="Helix Picture.png" alt="Agrofam">
</div>
</div>

<!-- NFT Website -->
<div class="helix-box3">
    <img src="Helix Picture.png">
    <div class="helix-words">
        <h3>NFT Website (Re-design)</h3>
            <p>A NFT website redesign with the story and information<br>
                about the team members including their goals and other<br>
                neccessary information 
            </p>
            <a style="text-decoration: none; font-weight: bold;" href="#">View On Behance</a>
    </div>
</div>

    </div>


</body>
</html>